# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
serializer.code-workspace
.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-6ad0ddefd321bbf476e2.json
build/.cmake/api/v1/reply/codemodel-v2-32be55cfaa63f2cd79a7.json
build/.cmake/api/v1/reply/index-2021-08-15T22-48-32-0472.json
build/.cmake/api/v1/reply/target-Continuous-Debug-796ff98ffcfd4d31bf20.json
build/.cmake/api/v1/reply/target-ContinuousBuild-Debug-ec89238cc487fd99ab42.json
build/.cmake/api/v1/reply/target-ContinuousConfigure-Debug-8f8dad82b7816404a6fe.json
build/.cmake/api/v1/reply/target-ContinuousCoverage-Debug-b0d388c11b17e4cbafd9.json
build/.cmake/api/v1/reply/target-ContinuousMemCheck-Debug-5f8c10f9d8c76ddd221e.json
build/.cmake/api/v1/reply/target-ContinuousStart-Debug-c98a0c2cec2cc02839a9.json
build/.cmake/api/v1/reply/target-ContinuousSubmit-Debug-500e365537c1b84704f1.json
build/.cmake/api/v1/reply/target-ContinuousTest-Debug-3030a053326ec3ed032e.json
build/.cmake/api/v1/reply/target-ContinuousUpdate-Debug-49c450d01bf57239669a.json
build/.cmake/api/v1/reply/target-Experimental-Debug-3e95348409d8e6294020.json
build/.cmake/api/v1/reply/target-ExperimentalBuild-Debug-d96edeccc031bd1ac97a.json
build/.cmake/api/v1/reply/target-ExperimentalConfigure-Debug-a657fa1982d26ad0f508.json
build/.cmake/api/v1/reply/target-ExperimentalCoverage-Debug-c355bc128e338056e524.json
build/.cmake/api/v1/reply/target-ExperimentalMemCheck-Debug-27f71d99851d5b56d7ed.json
build/.cmake/api/v1/reply/target-ExperimentalStart-Debug-f7e156749d6965e23038.json
build/.cmake/api/v1/reply/target-ExperimentalSubmit-Debug-54a50bb71ddd51fb7fa4.json
build/.cmake/api/v1/reply/target-ExperimentalTest-Debug-8bba9f4b0292d6b14eca.json
build/.cmake/api/v1/reply/target-ExperimentalUpdate-Debug-9fe5da3e68c4dc9b7ff0.json
build/.cmake/api/v1/reply/target-Nightly-Debug-0b5d04df2e5743cc1cb0.json
build/.cmake/api/v1/reply/target-NightlyBuild-Debug-8b5d10c26dec60e264ac.json
build/.cmake/api/v1/reply/target-NightlyConfigure-Debug-b8e980c0fcef5bf8bd55.json
build/.cmake/api/v1/reply/target-NightlyCoverage-Debug-cc56df9a408d603baa2c.json
build/.cmake/api/v1/reply/target-NightlyMemCheck-Debug-2da2f7de58f4318bafa7.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-911df2109599d2b81267.json
build/.cmake/api/v1/reply/target-NightlyStart-Debug-05d2168322544c1ea74c.json
build/.cmake/api/v1/reply/target-NightlySubmit-Debug-c6361a08f3187b598d84.json
build/.cmake/api/v1/reply/target-NightlyTest-Debug-858b609ab8a93c6a2aa1.json
build/.cmake/api/v1/reply/target-NightlyUpdate-Debug-1f39d77200573659710b.json
build/.cmake/api/v1/reply/target-serializer-Debug-ab5fda893ebcc41f2b3f.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Continuous.dir/build.make
build/CMakeFiles/Continuous.dir/cmake_clean.cmake
build/CMakeFiles/Continuous.dir/DependInfo.cmake
build/CMakeFiles/Continuous.dir/progress.make
build/CMakeFiles/ContinuousBuild.dir/build.make
build/CMakeFiles/ContinuousBuild.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousBuild.dir/DependInfo.cmake
build/CMakeFiles/ContinuousBuild.dir/progress.make
build/CMakeFiles/ContinuousConfigure.dir/build.make
build/CMakeFiles/ContinuousConfigure.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousConfigure.dir/DependInfo.cmake
build/CMakeFiles/ContinuousConfigure.dir/progress.make
build/CMakeFiles/ContinuousCoverage.dir/build.make
build/CMakeFiles/ContinuousCoverage.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousCoverage.dir/DependInfo.cmake
build/CMakeFiles/ContinuousCoverage.dir/progress.make
build/CMakeFiles/ContinuousMemCheck.dir/build.make
build/CMakeFiles/ContinuousMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousMemCheck.dir/DependInfo.cmake
build/CMakeFiles/ContinuousMemCheck.dir/progress.make
build/CMakeFiles/ContinuousStart.dir/build.make
build/CMakeFiles/ContinuousStart.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousStart.dir/DependInfo.cmake
build/CMakeFiles/ContinuousStart.dir/progress.make
build/CMakeFiles/ContinuousSubmit.dir/build.make
build/CMakeFiles/ContinuousSubmit.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousSubmit.dir/DependInfo.cmake
build/CMakeFiles/ContinuousSubmit.dir/progress.make
build/CMakeFiles/ContinuousTest.dir/build.make
build/CMakeFiles/ContinuousTest.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousTest.dir/DependInfo.cmake
build/CMakeFiles/ContinuousTest.dir/progress.make
build/CMakeFiles/ContinuousUpdate.dir/build.make
build/CMakeFiles/ContinuousUpdate.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousUpdate.dir/DependInfo.cmake
build/CMakeFiles/ContinuousUpdate.dir/progress.make
build/CMakeFiles/Experimental.dir/build.make
build/CMakeFiles/Experimental.dir/cmake_clean.cmake
build/CMakeFiles/Experimental.dir/DependInfo.cmake
build/CMakeFiles/Experimental.dir/progress.make
build/CMakeFiles/ExperimentalBuild.dir/build.make
build/CMakeFiles/ExperimentalBuild.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalBuild.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalBuild.dir/progress.make
build/CMakeFiles/ExperimentalConfigure.dir/build.make
build/CMakeFiles/ExperimentalConfigure.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalConfigure.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalConfigure.dir/progress.make
build/CMakeFiles/ExperimentalCoverage.dir/build.make
build/CMakeFiles/ExperimentalCoverage.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalCoverage.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalCoverage.dir/progress.make
build/CMakeFiles/ExperimentalMemCheck.dir/build.make
build/CMakeFiles/ExperimentalMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalMemCheck.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalMemCheck.dir/progress.make
build/CMakeFiles/ExperimentalStart.dir/build.make
build/CMakeFiles/ExperimentalStart.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalStart.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalStart.dir/progress.make
build/CMakeFiles/ExperimentalSubmit.dir/build.make
build/CMakeFiles/ExperimentalSubmit.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalSubmit.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalSubmit.dir/progress.make
build/CMakeFiles/ExperimentalTest.dir/build.make
build/CMakeFiles/ExperimentalTest.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalTest.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalTest.dir/progress.make
build/CMakeFiles/ExperimentalUpdate.dir/build.make
build/CMakeFiles/ExperimentalUpdate.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalUpdate.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalUpdate.dir/progress.make
build/CMakeFiles/Nightly.dir/build.make
build/CMakeFiles/Nightly.dir/cmake_clean.cmake
build/CMakeFiles/Nightly.dir/DependInfo.cmake
build/CMakeFiles/Nightly.dir/progress.make
build/CMakeFiles/NightlyBuild.dir/build.make
build/CMakeFiles/NightlyBuild.dir/cmake_clean.cmake
build/CMakeFiles/NightlyBuild.dir/DependInfo.cmake
build/CMakeFiles/NightlyBuild.dir/progress.make
build/CMakeFiles/NightlyConfigure.dir/build.make
build/CMakeFiles/NightlyConfigure.dir/cmake_clean.cmake
build/CMakeFiles/NightlyConfigure.dir/DependInfo.cmake
build/CMakeFiles/NightlyConfigure.dir/progress.make
build/CMakeFiles/NightlyCoverage.dir/build.make
build/CMakeFiles/NightlyCoverage.dir/cmake_clean.cmake
build/CMakeFiles/NightlyCoverage.dir/DependInfo.cmake
build/CMakeFiles/NightlyCoverage.dir/progress.make
build/CMakeFiles/NightlyMemCheck.dir/build.make
build/CMakeFiles/NightlyMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/NightlyMemCheck.dir/DependInfo.cmake
build/CMakeFiles/NightlyMemCheck.dir/progress.make
build/CMakeFiles/NightlyMemoryCheck.dir/build.make
build/CMakeFiles/NightlyMemoryCheck.dir/cmake_clean.cmake
build/CMakeFiles/NightlyMemoryCheck.dir/DependInfo.cmake
build/CMakeFiles/NightlyMemoryCheck.dir/progress.make
build/CMakeFiles/NightlyStart.dir/build.make
build/CMakeFiles/NightlyStart.dir/cmake_clean.cmake
build/CMakeFiles/NightlyStart.dir/DependInfo.cmake
build/CMakeFiles/NightlyStart.dir/progress.make
build/CMakeFiles/NightlySubmit.dir/build.make
build/CMakeFiles/NightlySubmit.dir/cmake_clean.cmake
build/CMakeFiles/NightlySubmit.dir/DependInfo.cmake
build/CMakeFiles/NightlySubmit.dir/progress.make
build/CMakeFiles/NightlyTest.dir/build.make
build/CMakeFiles/NightlyTest.dir/cmake_clean.cmake
build/CMakeFiles/NightlyTest.dir/DependInfo.cmake
build/CMakeFiles/NightlyTest.dir/progress.make
build/CMakeFiles/NightlyUpdate.dir/build.make
build/CMakeFiles/NightlyUpdate.dir/cmake_clean.cmake
build/CMakeFiles/NightlyUpdate.dir/DependInfo.cmake
build/CMakeFiles/NightlyUpdate.dir/progress.make
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/count.txt
build/CMakeFiles/serializer.dir/build.make
build/CMakeFiles/serializer.dir/cmake_clean.cmake
build/CMakeFiles/serializer.dir/CXX.includecache
build/CMakeFiles/serializer.dir/depend.internal
build/CMakeFiles/serializer.dir/depend.make
build/CMakeFiles/serializer.dir/DependInfo.cmake
build/CMakeFiles/serializer.dir/flags.make
build/CMakeFiles/serializer.dir/link.txt
build/CMakeFiles/serializer.dir/progress.make
build/Testing/Temporary/LastTest.log
build/serializer
build/.cmake/api/v1/reply/cache-v2-615c18748c4cfbcd36a1.json
build/.cmake/api/v1/reply/codemodel-v2-67ea4fb6d67319b25ee2.json
build/.cmake/api/v1/reply/index-2021-08-16T00-20-06-0382.json
build/.cmake/api/v1/reply/target-Continuous-Debug-762ce43b746ce4644fbf.json
build/.cmake/api/v1/reply/target-ContinuousBuild-Debug-9e0814096f49bd534c3e.json
build/.cmake/api/v1/reply/target-ContinuousConfigure-Debug-4fb14091b9627c2ae322.json
build/.cmake/api/v1/reply/target-ContinuousCoverage-Debug-61ccc03ee3983330ade6.json
build/.cmake/api/v1/reply/target-ContinuousMemCheck-Debug-f9b1600f5a2e05c3276b.json
build/.cmake/api/v1/reply/target-ContinuousStart-Debug-4a18b6d938a33aa1df9b.json
build/.cmake/api/v1/reply/target-ContinuousSubmit-Debug-5cc7d87816dd63632496.json
build/.cmake/api/v1/reply/target-ContinuousTest-Debug-465ffa541bfd3f252f75.json
build/.cmake/api/v1/reply/target-ContinuousUpdate-Debug-add1e67cb9e76eeb76e2.json
build/.cmake/api/v1/reply/target-Experimental-Debug-d9f8f6bcf4ad2a28933f.json
build/.cmake/api/v1/reply/target-ExperimentalBuild-Debug-51fb5072ee10cb0cf379.json
build/.cmake/api/v1/reply/target-ExperimentalConfigure-Debug-dcf9477c1551a40f9146.json
build/.cmake/api/v1/reply/target-ExperimentalCoverage-Debug-dabeded34c1f1c4198ea.json
build/.cmake/api/v1/reply/target-ExperimentalMemCheck-Debug-276f654a16d7805dc771.json
build/.cmake/api/v1/reply/target-ExperimentalStart-Debug-b410bb819ea76a5f11e2.json
build/.cmake/api/v1/reply/target-ExperimentalSubmit-Debug-db35d383b1ff6c4dc228.json
build/.cmake/api/v1/reply/target-ExperimentalTest-Debug-1eb24293ed27a2e544b4.json
build/.cmake/api/v1/reply/target-ExperimentalUpdate-Debug-d3f16dcd61cba976a157.json
build/.cmake/api/v1/reply/target-Nightly-Debug-eec1430822b6735c0a9d.json
build/.cmake/api/v1/reply/target-NightlyBuild-Debug-6c5667b9d33c24ad61ac.json
build/.cmake/api/v1/reply/target-NightlyConfigure-Debug-b4dda6dd478582a3d1a4.json
build/.cmake/api/v1/reply/target-NightlyCoverage-Debug-991bc680ef42ec5827b8.json
build/.cmake/api/v1/reply/target-NightlyMemCheck-Debug-e735cc96358e6707218e.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-59952f83d172b2bd2830.json
build/.cmake/api/v1/reply/target-NightlyStart-Debug-9d70f67023fff9444cc7.json
build/.cmake/api/v1/reply/target-NightlySubmit-Debug-17582e417293370fdc10.json
build/.cmake/api/v1/reply/target-NightlyTest-Debug-7e5e6dab716ca39bbd5d.json
build/.cmake/api/v1/reply/target-NightlyUpdate-Debug-a1c0a33cab7b0ef14870.json
build/.cmake/api/v1/reply/target-serializer-Debug-560bce2ad25a7a44adaa.json
